<div data-item data-id="{{ item.getId() }}">
    <img src="{{ item.getIcon() }}" alt="{{ item.getName() }}" title="{{ item.getName() }}" class="csgoadvance-page-content-game-image img-responsive">
    <p class="csgoadvance-page-content-game-name text-uppercase pull-left">{{ item.getName()|truncate(20, 4) }}</p>
    <p class="csgoadvance-page-content-game-price text-uppercase pull-right">${{ (item.getPrice() - item.getPrice() * 0.1)|round(2, 'floor')  }}</p>
</div>
