<form data-deposit-form id="deposit-form" method="post" action="{{ path_for('add-deposit') }}">
    <div class="slimscroll inventory-content">
        {% for item in items %}
            <div data-item data-select class="inventory-item col-lg-4 col-md-6 col-xs-12">
                <div data-select-image class="inventory-item-avatar col-xs-12">
                    <img src="{{ item.getIcon() }}" alt="{{ item.getName() }}" title="{{ item.getName() }}" class="inventory-item-avatar-image img-responsive">
                    <p class="inventory-item-name pull-left text-uppercase">{{ item.getMarketName()  }}</p>
                    <p data-price="{{ item.getPrice() }}" class="inventory-item-price pull-right text-uppercase">${{ item.getPrice() }}</p>
                </div>

                <input class="id none" type="checkbox" name="id[]" value="{{ item.getId() }}">
                <input class="token none" type="checkbox" name="token[{{ item.getId() }}]" value="{{ item.getToken() }}">
            </div>
        {% endfor %}
    </div>
    <button name="deposit-form-submit" class="deposit-form-submit" type="submit">Deposit selected</button>
</form>