{% for message in messages %}
    <div data-message class="csgoadvance-messenger-row col-xs-12">
        <div class="csgoadvance-messenger-chat-author-avatar pull-left">
            <img src="{{ message.getUser().getAvatar() }}" alt="{{ message.getUser().getName() }}" title="{{ message.getUser().getName() }}" class="img-circle">
        </div>
        <div class="csgoadvance-messenger-chat-message pull-right">
            <p class="{% if message.getUser().getRole() == '0' %}administrator {% endif %}{% if message.getUser().getRole() == '2' %}moderator {% endif %}csgoadvance-messenger-chat-message-author pull-left no-margin">{{ message.getUser().getName() }}{% if logged %}{% if user.getRole() == '0' or user.getRole() == '2' %}<br>({{ message.getUser().getSteamid() }}){% endif %}{% endif %}</p>
            <time class="csgoadvance-messenger-chat-message-time pull-right no-margin">{{ message.getCreated()|date("H:i:s") }}</time>
            <p class="csgoadvance-messenger-chat-message-content no-margin">{{ message.getMessage() }}</p>
        </div>
    </div>
{% endfor %}