{% for key, multiply in multiplies %}
    <button id="multiply-button-{{ multiply.getValue()|number_format(1, '.', ',') }}x" type="button" class="csgoadvance-page-content-game-multiplier-button" data-path="{{ path_for('game-load-item-after') }}" data-game-token="{{ path_for('game-token') }}" data-multiple-button class="multiple-button" {% if enabled[key] == 0 %}disabled="disabled"{% endif %} data-chance="{{ multiply.getChance() }}" data-value="{{ multiply.getValue() }}">{{ multiply.getValue()|number_format(1, '.', ',') }}x</button>
{% endfor %}