<div class="slimscroll inventory-content">
{% for item in items %}
    <form data-play-form id="play-form-{{ item.data.getId() }}" method="post" action="{{ path_for('game-load-item-before') }}">
        <div data-item class="inventory-item col-lg-4 col-md-6 col-xs-12">
            <div data-play-select class="inventory-item-avatar col-xs-12">
                <img src="{{ item.data.getIcon() }}" alt="{{ item.data.getName() }}" title="{{ item.data.getName() }}" class="inventory-item-avatar-image img-responsive">
                <p class="inventory-item-name pull-left text-uppercase">{{ item.data.getMarketName() }}</p>
                <p class="inventory-item-price pull-right text-uppercase">${{ (item.data.getPrice() - item.data.getPrice() * 0.1)|round(2, 'floor') }}</p>
            </div>

            <input class="inventory-item-id" type="hidden" name="id" value="{{ item.data.getId() }}">
            <input class="inventory-item-deposit-id" type="hidden" name="deposit" value="{{ item.depositID }}">
            <input class="inventory-item-deposit-price" type="hidden" name="price" value="{{ (item.data.getPrice() - item.data.getPrice() * 0.1)|round(2, 'floor') }}">
            <input class="inventory-item-trade-id" type="hidden" name="trade" value="{{ item.tradeID }}">
        </div>
    </form>
{% endfor %}
</div>