<form data-shop-form class="shop-form" id="shop-form" method="post" action="{{ path_for('affiliates-shop-buy') }}">
    <div class="slimscroll inventory-content">
    {% for item in items %}
        {% set shop = random(9999) %}
        <div data-item data-select class="inventory-item col-lg-4 col-md-6 col-xs-12">
            <div data-select-image class="inventory-item-avatar col-xs-12">
                <img src="{{ item.getIcon() }}" alt="{{ item.getName() }}" title="{{ item.getName() }}" class="inventory-item-avatar-image img-responsive">
                <p class="inventory-item-name pull-left text-uppercase">{{ item.getMarketName()  }}</p>
                <p data-price="{{ item.getPrice() }}" class="inventory-item-price pull-right text-uppercase">${{ item.getPrice() }}</p>
            </div>

            <input class="shop none" type="checkbox" value="{{ shop }}">
            <input data-marketname class="marketname none" type="checkbox" name="marketname[{{ shop }}]" value="{{ item.getMarketName() }}">
            <input class="id none" type="checkbox" name="id[]" value="{{ shop }}">
            <input class="token none" type="checkbox" name="token[{{ shop }}]" value="{{ item.getToken() }}">
            <input class="price none" type="checkbox" name="price[{{ shop }}]" value="{{ item.getPrice() }}">
        </div>
    {% endfor %}
    </div>
    <button name="shop-form-submit" class="shop-form-submit" type="submit">Buy selected</button>
</form>