{% for upgrade in upgrades %}
    <div class="csgoadvance-games-row col-xs-12">
        <div class="csgoadvance-games-info col-xs-12 no-padding">
            <img src="{{ upgrade.getUser().getAvatar() }}" alt="{{ upgrade.getUser().getName() }}" title="{{ upgrade.getUser().getName() }}" class="csgoadvance-games-info-avatar img-circle pull-left">
            <p class="csgoadvance-games-info-nick pull-left">{{ upgrade.getUser().getName() }}</p>
            <time class="csgoadvance-games-info-time pull-right">{{ upgrade.getCreated()|date("H:i:s") }}</time>
        </div>
        <div class="csgoadvance-games-guns col-xs-12 no-padding">
            <div class="csgoadvance-games-gunA col-md-6 col-xs-12 no-padding">
                <img src="{{ upgrade.getBeforeItem().getIcon() }}" alt="{{ upgrade.getBeforeItem().getName() }}" title="{{ upgrade.getBeforeItem().getName() }}" class="csgoadvance-games-gun-image img-responsive">
                <p class="csgoadvance-games-gun-name text-uppercase">{{ upgrade.getBeforeItem().getName()|truncate(20, 3) }}</p>
                <p class="csgoadvance-games-gun-price text-uppercase">${{ upgrade.getBeforeItem().getPrice() }}</p>
            </div>
            <div class="csgoadvance-games-gunB col-md-6 col-xs-12 no-padding">
                <img src="{{ upgrade.getAfterItem().getIcon() }}" alt="{{ upgrade.getUser().getName() }}" title="{{ upgrade.getAfterItem().getName() }}" class="csgoadvance-games-gun-image img-responsive">
                <p class="csgoadvance-games-gun-name text-uppercase">{{ upgrade.getAfterItem().getName()|truncate(20, 3) }}</p>
                <p class="csgoadvance-games-gun-price text-uppercase">${{ upgrade.getAfterItem().getPrice() }}</p>
            </div>
        </div>
    </div>
{% endfor %}