<form data-withdraw-form class="withdraw-form" id="withdraw-form" method="post" action="{{ path_for('withdraw-payment') }}">
    <div class="slimscroll inventory-content">
    {% for withdraw in withdraws %}
        <div data-item data-select class="inventory-item col-lg-4 col-md-6 col-xs-12">
            <div data-select-image class="inventory-item-avatar col-xs-12">
                <img src="{{ withdraw.getItem().getIcon() }}" alt="{{ withdraw.getItem().getName() }}" title="{{ withdraw.getItem().getName() }}" class="inventory-item-avatar-image img-responsive">
                <p class="inventory-item-name pull-left text-uppercase">{{ withdraw.getItem().getMarketName()  }}</p>
                <p data-price="{{ withdraw.getItem().getPrice() }}" class="inventory-item-price pull-right text-uppercase">${{ withdraw.getItem().getPrice() }}</pdata-price>
            </div>

            <input data-marketname class="marketname none" type="checkbox" name="marketname[{{ withdraw.getId() }}]" value="{{ withdraw.getItem().getMarketName() }}">
            <input data-id class="id none" type="checkbox" name="id[]" value="{{ withdraw.getId() }}">
            <input class="item none" type="checkbox" name="item[{{ withdraw.getId() }}]" value="{{ withdraw.getItem().getId() }}">
            <input class="game none" type="checkbox" name="game[{{ withdraw.getId() }}]" value="{{ withdraw.getGame().getId() }}">
            <input class="deposit none" type="checkbox" name="deposit[{{ withdraw.getId() }}]" value="{{ withdraw.getDeposit().getId() }}">
            <input class="token none" type="checkbox" name="token[{{ withdraw.getId() }}]" value="{{ withdraw.getToken() }}">
            <input class="tradeID none" type="checkbox" name="tradeID[{{ withdraw.getId() }}]" value="{{ withdraw.getTradeID }}">
        </div>
    {% endfor %}
    </div>
    <button name="widthdraw-form-submit" class="withdraw-form-submit" type="submit">Withdraw selected</button>
</form>