{% extends "index.html.twig" %}

{% block page %}
    <aside class="csgoadvance-page csgoadvance-main-sidebar col-md-6 col-xs-12 col-md-offset-3 no-padding">
        <h4 class="csgoadvance-main-sidebar-title text-uppercase text-center no-margin">Affiliates</h4>
        <div class="csgoadvance-page-content slimscroll">
            <div class="csgoadvance-page-content-affiliates col-md-10 col-xs-12 col-md-offset-1">
                <p class="csgoadvance-page-content-affiliates-refferal">Your refferal:
                    <span data-referral class="csgoadvance-page-content-affiliates-refferal-link">{% if user.getReferral() != '' %}{{ user.getReferral() }}{% else %}Not set yet{% endif %}</span>
                </p>
                <p class="csgoadvance-page-content-affiliates-description">
                    By using a refferal code you get free 0.15$ skin which you can upgrade! If you dont have one, use our site's code "CSGOADVANCE".
                </p>
                <p class="csgoadvance-page-content-affiliates-enter-code">Enter code:</p>
                <form data-use-referral-form action="{{ path_for('affiliates-use') }}" method="post" class="csgoadvance-page-content-affiliates-enter-code-form col-xs-12 no-padding form-inline">
                    <div class="csgoadvance-page-content-affiliates-enter-code-form-group col-md-10 col-xs-12 no-padding">
                        <input data-use-referral-input name="code" placeholder="Enter code" class="form-control csgoadvance-page-content-affiliates-enter-code-form-input" type="text">
                    </div>
                    <div class="csgoadvance-page-content-affiliates-enter-code-form-group col-md-2 col-xs-12">
                        <button type="submit" class="csgoadvance-page-content-affiliates-enter-code-form-submit text-uppercase">ok</button>
                    </div>
                </form>
                <p class="csgoadvance-page-content-affiliates-generate-code">Generate code:</p>
                <p class="csgoadvance-page-content-affiliates-description">
                    Get free skins by promoting our website. Set your referral code and send it to your friends.
                </p>
                <form data-create-referral-form action="{{ path_for('affiliates-create') }}" method="post" class="csgoadvance-page-content-affiliates-generate-code-form col-xs-12 no-padding form-inline">
                    <div class="csgoadvance-page-content-affiliates-generate-code-form-group col-md-10 col-xs-12 no-padding">
                        <input data-create-referral-input name="your-code" placeholder="Enter your code" class="form-control csgoadvance-page-content-affiliates-generate-code-form-input" type="text">
                    </div>
                    <div class="csgoadvance-page-content-affiliates-generate-code-form-group col-md-2 col-xs-12">
                        <button type="submit" class="csgoadvance-page-content-affiliates-generate-code-form-submit text-uppercase">ok</button>
                    </div>
                </form>
                <div class="csgoadvance-page-content-affiliates-statistic col-md-6 col-xs-12 text-center">
                    <i class="csgoadvance-page-content-affiliates-statistic-icon fa fa-database"></i>
                    <p class="csgoadvance-page-content-affiliates-statistic-icon-value">
                        <span class="csgoadvance-page-content-affiliates-statistic-icon-value-active">${{ wallet }}</span>
                    </p>
                    <p class="csgoadvance-page-content-affiliates-statistic-icon-text text-uppercase">Available credits</p>
                </div>
                <div class="csgoadvance-page-content-affiliates-statistic col-md-6 col-xs-12 text-center">
                    <i class="csgoadvance-page-content-affiliates-statistic-icon fa fa-users"></i>
                    <p class="csgoadvance-page-content-affiliates-statistic-icon-value">{{ refferals|length }}</p>
                    <p class="csgoadvance-page-content-affiliates-statistic-icon-text text-uppercase">Invited users</p>
                </div>
                <p class="csgoadvance-page-content-affiliates-generate-code">Shop:</p>
                <p class="csgoadvance-page-content-affiliates-description">
                    Buy items for your earned credits!
                </p>
                <a href="{{ path_for('affiliates-shop') }}" class="shop-button col-xs-4 text-center text-uppercase">Go to shop!</a>
            </div>
            <div class="csgoadvance-page-content-affiliates-last-refferals col-md-10 col-xs-12 col-md-offset-1 no-padding table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="text-uppercase">Player</th>
                        <th class="text-uppercase">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if refferals|length > 0 %}
                        {% for refferal in refferals %}
                        <tr>
                            <td>{{ refferal.getUser().getName() }}
                                <b>({{ refferal.getUser().getSteamid() }})</b></td>
                            <td>{{ refferal.getCreated()|date("H:i:s d/m/Y") }}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="2">Actually no refferals</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <footer class="csgoadvance-footer col-md-8 col-xs-12 col-md-offset-2">
                <p class="copyright text-uppercase text-center">© 2017 BY <a class="copyright-link" href="">CSGOADVANCE.COM.</a> ALL RIGHTS RESERVED.</p>
            </footer>
        </div>
    </aside>
{% endblock %}