<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CS GO</title>
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
    <link rel="stylesheet" href="/web/assets/css/style.min.css">

</head>
<body data-buy-return="{{ path_for('affiliates-shop-trade') }}" data-buy-cancel="{{ path_for('affiliates-shop-cancel') }}" data-withdraw-cancel="{{ path_for('withdraw-cancel') }}" data-withdraw-return="{{ path_for('withdraw-trade') }}" data-deposit-return="{{ path_for('deposit-trade') }}" data-deposit-cancel="{{ path_for('deposit-cancel') }}" data-steamid="{{ user.getSteamId() }}" class="csgoadvance-body">
<div class="icons"></div>
<div data-noconnection class="csgoadvance-noconnection">
    <div class="csgoadvance-noconnection-content text-center">
        <svg class="csgoadvance-noconnection-icon">
            <use xlink:href="#skull"></use>
        </svg>

        <h1 class="csgoadvance-noconnection-header">Ups.. No connected!</h1>
        <p class="csgoadvance-noconnection-description">It seems that the server can be offline. Maybe website is under maintenance. Try play later.</p>
    </div>
</div>
<header class="csgoadvance-header">
    <div class="csgoadvance-header-logo col-md-2 col-xs-12 pull-left">
        <a href="/" title="CS GO" class="csgoadvance-header-logo-link">
            <img src="/web/assets/img/logo.png" alt="CS GO" class="csgoadvance-header-logo-image img-responsive">
        </a>
    </div>
    <nav class="csgoadvance-header-navigation col-lg-7 col-md-6 col-xs-12">
        <ul class="csgoadvance-header-navigation-menu col-lg-8 col-xs-12 pull-left list-unstyled list-inline no-margin">
            <li class="csgoadvance-header-navigation-menu-item">
                <a href="/" title="Home" class="csgoadvance-header-navigation-menu-link text-uppercase">Home</a>
            </li>
            <li class="csgoadvance-header-navigation-menu-item">
                <a href="{{ path_for('affiliates') }}" title="Affiliates" class="csgoadvance-header-navigation-menu-link text-uppercase">Affiliates</a>
            </li>
            <li class="csgoadvance-header-navigation-menu-item">
                <a href="{{ path_for('support') }}" title="Support" class="csgoadvance-header-navigation-menu-link text-uppercase">Support</a>
            </li>
            <li class="csgoadvance-header-navigation-menu-item">
                <a href="{{ path_for('terms') }}" title="Terms of use" class="csgoadvance-header-navigation-menu-link text-uppercase">Terms of use</a>
            </li>
        </ul>
        <ul class="csgoadvance-header-social col-md-4 col-xs-12 pull-right list-unstyled list-inline no-margin text-right">
            <li class="csgoadvance-header-social-item no-padding no-margin">
                <a class="csgoadvance-header-social-link" target="_blank" href="https://www.facebook.com/csgoadvancecom-398595633855557/">
                    <i class="csgoadvance-header-social-link-icon fa fa-facebook" aria-hidden="true"></i>
                </a>
            </li>
            <li class="csgoadvance-header-social-item no-padding no-margin">
                <a class="csgoadvance-header-social-link" target="_blank" href="https://twitter.com/CSGOADVANCEcom">
                    <i class="csgoadvance-header-social-link-icon fa fa-twitter" aria-hidden="true"></i>
                </a>
            </li>
            <li class="csgoadvance-header-social-item no-padding no-margin">
                <a class="csgoadvance-header-social-link" target="_blank" href="http://steamcommunity.com/groups/csgoadvanceofficial">
                    <i class="csgoadvance-header-social-link-icon fa fa-steam" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </nav>
    <div class="csgoadvance-header-login col-lg-2 col-md-3 col-xs-12 pull-right">
        {% if logged %}
            <div data-profile class="csgoadvance-header-profile-box">
                <div class="csgoadvance-header-profile-box-avatar pull-left no-padding col-xs-3">
                    <img class="csgoadvance-header-profile-box-avatar-image img-responsive img-circle" src="{{ user.getAvatar() }}" alt="{{ user.getName() }}" title="{{ user.getName() }}">
                </div>
                <div class="csgoadvance-header-profile-box-info no-padding pull-right col-xs-9">
                    <p class="csgoadvance-header-profile-box-info-name col-xs-12"><b>{{ user.getName()|truncate(18) }}</b></p>
                    <p class="csgoadvance-header-profile-box-info-label col-xs-12">User panel</p>
                </div>
                <ul class="list-unstyled csgoadvance-header-profile-box-dropdown col-xs-12" data-profile-dropdown>
                    <li class="csgoadvance-header-profile-box-dropdown-item"><a class="csgoadvance-header-profile-box-dropdown-link" href="{{ path_for('user-profile', { 'id': user.getID() }) }}">Profile</a></li>
                    <li class="csgoadvance-header-profile-box-dropdown-item"><a class="csgoadvance-header-profile-box-dropdown-link" href="/?logout">Logout</a></li>
                </ul>
            </div>
        {% else %}
            <a rel="index, nofollow" href="?login" title="Sign in via Steam!" class="csgoadvance-header-login-link">
                <button type="button" class="csgoadvance-header-login-button">
                    <i class="csgoadvance-header-login-button-icon fa fa-steam" aria-hidden="true"></i>Sign in via Steam!
                </button>
            </a>
        {% endif %}
    </div>
    <div class="csgoadvance-header-statistics col-md-1 col-xs-12 pull-right">
        <div class="csgoadvance-header-statistics-wintoday">
            <p data-countup data-countup-value="{{ winstoday }}" class="csgoadvance-header-statistics-wintoday-value no-margin text-uppercase"><b><span id="today">0</span>$</b></p>
            <p class="csgoadvance-header-statistics-wintoday-description no-margin text-uppercase">Users win today</p>
        </div>
    </div>
</header>
<main class="csgoadvance-content">
    {% if errors|length > 0 %}
    <ul class="csgoadvance-alert errors list-unstyled">
        {% for error in errors %}
            <li class="csgoadvance-alert-item"><i class="fa fa-close csgoadvance-alert-item-icon" aria-hidden="true"></i>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if successes|length > 0 %}
    <ul class="csgoadvance-alert success list-unstyled">
        {% for success in successes %}
            <li class="csgoadvance-alert-item"><i class="fa fa-check csgoadvance-alert-item-icon" aria-hidden="true"></i>{{ success }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block content %}{% endblock %}
</main>

<div data-bot-alert class="csgoadvance-message text-center">

</div>

<audio class="audio" id="win-audio">
    <source src="/web/assets/sounds/win.wav" type="audio/wav">
</audio>
<audio class="audio" id="lose-audio">
    <source src="/web/assets/sounds/lose.wav" type="audio/wav">
</audio>
<audio class="audio" id="game-audio">
    <source src="/web/assets/sounds/game.wav" type="audio/wav">
</audio>

<audio class="audio" id="count-audio">
    <source src="/web/assets/sounds/count.wav" type="audio/wav">
</audio>

<div data-sounds class="csgoadvance-sound-control img-circle">
    <svg data-sounds-off class="csgoadvance-sound-control-icon off">
        <use title="Sounds Off" xlink:href="#soundOff"></use>
    </svg>
    <svg data-sounds-on class="csgoadvance-sound-control-icon on">
        <use title="Sounds On" xlink:href="#soundOn"></use>
    </svg>
</div>
<script async src="/web/assets/js/main.min.js"></script>
</body>
</html>