{% extends "index.html.twig" %}

{% block page %}
    <aside class="csgoadvance-page csgoadvance-main-sidebar col-md-6 col-xs-12 col-md-offset-3 no-padding">
        <h4 class="csgoadvance-main-sidebar-title text-uppercase text-center no-margin">Upgrade your skin</h4>
        <div class="csgoadvance-page-content slimscroll">
            <div class="csgoadvance-page-content-game col-md-10 col-xs-12 col-md-offset-1  no-padding">
                <div class="csgoadvance-page-content-game-guns">
                    <div data-item-before class="csgoadvance-page-content-game-left pull-left text-center">
                        <span class="x"></span>
                    </div>
                    <div class="csgoadvance-page-content-game-middle pull-left">
                        <img src="/web/assets/img/arrow.png">
                    </div>
                    <div data-item-after class="csgoadvance-page-content-game-right pull-right text-center">
                        <span class="x"></span>
                    </div>
                </div>
                <div class="csgoadvance-page-content-game-controls">
                    <div data-multiplies class="csgoadvance-page-content-game-multiplier pull-left" role="group"></div>
                    <p class="csgoadvance-page-content-game-chance pull-right chance">
                        CHANCE TO WIN: <span class="csgoadvance-page-content-game-chance-value low"><span data-chance>0%</span></span>
                    </p>
                </div>
                <form data-game-form action="{{ path_for('game-play') }}" method="post" class="csgoadvance-page-content-game-play-form col-xs-12 no-padding">
                    <input type="hidden" data-play-chance name="chance" value="">
                    <input type="hidden" data-play-multiply name="multiply" value="">
                    <input type="hidden" data-play-trade-id name="tradeID" value="">
                    <input type="hidden" data-play-before-id name="beforeID" value="">
                    <input type="hidden" data-play-after-id name="afterID" value="">
                    <input type="hidden" data-play-deposit-id name="depositID" value="">
                    <input type="hidden" data-play-hash name="hash" value="{{ hash }}">
                    <input type="hidden" data-play-token name="token" value="">
                    <button type="submit" data-win-path="{{ path_for('game-win') }}" disabled class="csgoadvance-page-content-game-play-form-submit text-uppercase">Upgrade now</button>
                </form>
            </div>
            {% if logged %}
            <div class="csgoadvance-page-content-inventory play-content col-md-10 col-xs-12 col-md-offset-1 no-padding">
                <div class="csgoadvance-page-content-header col-xs-12 no-padding">
                    <a href="{{ path_for('deposit') }}"><button type="button" class="csgoadvance-page-content-deposit-button csgoadvance-page-content-inventory-button pull-left text-uppercase">Deposit</button></a>
                    <a href="{{ path_for('withdraw') }}"><button type="button" class="csgoadvance-page-content-withdraw-button csgoadvance-page-content-inventory-button pull-right text-uppercase">Withdraw</button></a>
                    <h4 class="csgoadvance-page-content-inventory-header-title text-center text-uppercase">Inventory (<span data-inventory-count>0</span>)</h4>
                    <div data-inventory data-deposit-inventory data-loader-text="Loading your deposit.." data-inventory-path="{{ path_for('index-deposit') }}" class="inventory-content col-xs-12 no-padding"></div>
                </div>
            </div>
            {% endif %}
            <footer class="csgoadvance-footer col-md-8 col-xs-12 col-md-offset-2">
                <p class="copyright text-uppercase text-center">© 2017 BY <a class="copyright-link" href="">CSGOADVANCE.COM.</a> ALL RIGHTS RESERVED.</p>
            </footer>
        </div>
    </aside>
{% endblock %}