{% extends "base.html.twig" %}

{% block content %}
    <aside class="csgoadvance-messenger csgoadvance-main-sidebar col-md-3 col-xs-12 no-padding">
        <h4 class="csgoadvance-main-sidebar-title text-uppercase text-center">Chat</h4>
        <div data-messenger data-messenger-path="{{ path_for('index-message') }}" class="csgoadvance-messenger-content slimscroll"></div>
        {% if logged %}
        <form data-messenger-form action="{{ path_for('messenger-add') }}" method="post" class="csgoadvance-messenger-chat-writer">
            <textarea data-messenger-text name="text" class="csgoadvance-messenger-chat-writer-textarea pull-left" placeholder="Type something..."></textarea>
            <button type="submit" class="csgoadvance-messenger-chat-writer-submit">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
        </form>
        {% endif %}
    </aside>
    {% block page %}{% endblock %}
    <aside class="csgoadvance-games csgoadvance-main-sidebar col-md-3 col-xs-12 no-padding">
        <h4 class="csgoadvance-main-sidebar-title text-uppercase text-center">Last upgrades</h4>
        <div data-last-upgrade data-last-upgrade-path="{{ path_for('index-recent') }}" class="csgoadvance-games-content slimscroll no-padding"></div>
    </aside>
{% endblock %}