{% extends "index.html.twig" %}

{% block page %}
    <aside class="csgoadvance-page csgoadvance-main-sidebar col-md-6 col-xs-12 col-md-offset-3 no-padding">
        <h4 class="csgoadvance-main-sidebar-title text-uppercase text-center no-margin">{% if me %}Your profile{% else %}{{ current_user.getName() }}'s profile{% endif %}</h4>
        <div class="csgoadvance-page-content slimscroll">
            <div class="csgoadvance-page-content-profile col-md-10 col-xs-12 col-md-offset-1">
                {% if me %}
                <p class="csgoadvance-page-content-profile-your-tradelink">Your tradelink:
                    <span class="csgoadvance-page-content-profile-tradelink-link">{{ user.getTradelink() }}</span>
                </p>
                <p class="csgoadvance-page-content-profile-description">
                    Get your tradelink <a href="https://steamcommunity.com/profiles/{{ user.getSteamid() }}/tradeoffers/privacy#trade_offer_access_url"><b>here</b></a> and make sure your steam inventory is set to PUBLIC!
                </p>
                <p class="csgoadvance-page-content-profile-enter-tradelink">Enter tradelink:</p>
                <form action="{{ path_for('user-settings', { 'id': user.getID() }) }}" method="post" class="csgoadvance-page-content-profile-enter-tradelink-form col-xs-12 no-padding form-inline">
                    <div class="csgoadvance-page-content-profile-enter-tradelink-form-group col-md-10 col-xs-12 no-padding">
                        <input value="{{ user.getTradelink() }}" name="tradelink" placeholder="Enter tradelink" class="form-control csgoadvance-page-content-profile-enter-tradelink-form-input" type="text">
                    </div>
                    <div class="csgoadvance-page-content-profile-enter-tradelink-form-group col-md-2 col-xs-12">
                        <button type="submit" class="csgoadvance-page-content-profile-enter-tradelink-form-submit text-uppercase">ok</button>
                    </div>
                </form>
                {% endif %}
                <div class="csgoadvance-page-content-profile-statistic col-md-6 col-xs-12 text-center">
                    <i class="csgoadvance-page-content-profile-statistic-icon fa fa-dollar"></i>
                    <p class="csgoadvance-page-content-profile-statistic-icon-value">${{ profit }}</p>
                    <p class="csgoadvance-page-content-profile-statistic-icon-text text-uppercase">Profit</p>
                </div>
                <div class="csgoadvance-page-content-profile-statistic col-md-6 col-xs-12 text-center">
                    <i class="csgoadvance-page-content-profile-statistic-icon fa fa-gamepad"></i>
                    <p class="csgoadvance-page-content-profile-statistic-icon-value">{{ upgrades|length }}</p>
                    <p class="csgoadvance-page-content-profile-statistic-icon-text text-uppercase">Games played</p>
                </div>

                <div class="csgoadvance-page-content-profile-justice col-xs-12">
                    <p class="csgoadvance-page-content-profile-enter-checkupgrade col-xs-12 no-padding">Check your upgrade:</p>
                    <p class="csgoadvance-page-content-profile-description col-xs-12 no-padding">
                        Check your upgrade to see if your updrade may be manipulated!
                    </p>

                    <div class="csgoadvance-page-content-profile-justice-form-alert-wrapper col-xs-12 no-padding">
                        <p data-justice-form-alert class="csgoadvance-page-content-profile-justice-form-alert col-xs-12"></p>
                    </div>

                    <form data-justice-form action="{{ path_for('justice', { 'id': user.getID() }) }}" method="post" class="csgoadvance-page-content-profile-justice-form col-xs-12 no-padding form-inline">
                        <div class="csgoadvance-page-content-profile-justice-form-group col-md-3 col-xs-12 no-padding">
                            <input name="afterID" placeholder="Enter Item ID (After)" class="form-control csgoadvance-page-content-profile-justice-form-input" type="text">
                        </div>
                        <div class="csgoadvance-page-content-profile-justice-form-group col-md-3 col-xs-12">
                            <input name="beforeID" placeholder="Enter Item ID (Before)" class="form-control csgoadvance-page-content-profile-justice-form-input" type="text">
                        </div>
                        <div class="csgoadvance-page-content-profile-justice-form-group col-md-3 col-xs-12">
                            <input name="userID" placeholder="Enter User ID" class="form-control csgoadvance-page-content-profile-justice-form-input" type="text">
                        </div>
                        <div class="csgoadvance-page-content-profile-justice-form-group col-md-3 col-xs-12 no-padding">
                            <input name="multiply" placeholder="Enter Multiply" class="form-control csgoadvance-page-content-profile-justice-form-input" type="text">
                        </div>
                        <div class="csgoadvance-page-content-profile-justice-form-group col-xs-12 no-padding">
                            <input name="hash" placeholder="Enter Hash" class="form-control csgoadvance-page-content-profile-justice-form-input" type="text">
                        </div>
                        <div class="csgoadvance-page-content-profile-justice-form-group col-md-4 col-xs-12 no-padding">
                            <button type="submit" class="csgoadvance-page-content-profile-justice-form-submit text-uppercase">ok</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="csgoadvance-page-content-profile-last-games col-md-10 col-xs-12 col-md-offset-1 no-padding table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="text-uppercase">ID</th>
                        <th class="text-uppercase">Items</th>
                        <th class="text-uppercase">Status</th>
                        <th class="text-uppercase">Type</th>
                        <th class="text-uppercase">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if upgrades|length > 0 %}
                        {% for upgrade in upgrades %}
                    <tr>
                        <td>#{{ upgrade.getId() }}</td>
                        <td>
                            <b>{{ upgrade.getBeforeItem().getName() }} <span class="price">({{ upgrade.getBeforeItem().getPrice() }}$)</span></b> on <b>{{ upgrade.getAfterItem().getName() }} <span class="price">({{ upgrade.getAfterItem().getPrice() }}$)</span></b>
                            <table class="table justice-table">
                                <tr>
                                    <th class="justice-table-item">Item ID (After)</th>
                                    <td class="justice-table-item">{{ upgrade.getAfterItem().getID() }}</td>
                                    <th class="justice-table-item">Item ID (Before)</th>
                                    <td class="justice-table-item">{{ upgrade.getBeforeItem().getID() }}</td>
                                </tr>
                                <tr>
                                    <th class="justice-table-item">User ID</th>
                                    <td class="justice-table-item">{{ upgrade.getUser().getID() }}</td>
                                    <th class="justice-table-item">Multiply</th>
                                    <td class="justice-table-item">{{ upgrade.getMultiply() }}</td>
                                </tr>
                                <tr>
                                    <th colspan="4" class="justice-table-item">Hash</th>
                                </tr>
                                <tr>
                                    <td colspan="4" class="justice-table-item">{{ (upgrade.getAfterItem().getID() ~ upgrade.getBeforeItem().getID() ~ upgrade.getUser().getID() ~ upgrade.getMultiply())|sha1 }}</td>
                                </tr>
                            </table>
                            <br>
                        </td>
                        <td>{% if (upgrade.getWin()) %}Wygrana{% else %}Przegrana{% endif %}</td>
                        <td>{{ upgrade.getMultiply() }}x</td>
                        <td>{{ upgrade.getCreated()|date("H:i:s d/m/Y") }}</td>
                    </tr>
                    {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="5">Actually no upgrades</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <footer class="csgoadvance-footer col-md-8 col-xs-12 col-md-offset-2">
                    <p class="copyright text-uppercase text-center">© 2017 BY <a class="copyright-link" href="">CSGOADVANCE.COM.</a> ALL RIGHTS RESERVED.</p>
                </footer>
            </div>
        </div>
    </aside>
{% endblock %}