{% extends "index.html.twig" %}

{% block page %}
    <aside class="csgoadvance-page csgoadvance-main-sidebar col-md-6 col-xs-12 col-md-offset-3 no-padding">
    <h4 class="csgoadvance-main-sidebar-title text-uppercase text-center no-margin">Support</h4>
    <div class="csgoadvance-page-content slimscroll">
        <div class="csgoadvance-page-content-support col-md-10 col-xs-12 col-md-offset-1">
            <p class="csgoadvance-page-content-support-header">Have a problem with use this site?</p>
            <p class="csgoadvance-page-content-support-description">
                Write something about your problems or ask question.
            </p>
            <form data-support-form data-validate-form action="{{ path_for('support-send') }}" method="post" class="csgoadvance-page-content-support-form col-xs-12 no-padding">
                <div class="csgoadvance-page-content-support-form-group col-xs-12 no-padding">
                    <small class="form-message"></small>
                    <input data-required="true" data-input name="subject" placeholder="Enter subject" class="form-control csgoadvance-page-content-support-form-input" type="text">
                </div>
                <div class="csgoadvance-page-content-support-form-group col-xs-12 no-padding">
                    <small class="form-message"></small>
                    <input data-required="true" data-match="^[\w\.]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" data-input name="email" placeholder="Enter e-mail address" class="form-control csgoadvance-page-content-support-form-input" type="email">
                </div>
                <div class="csgoadvance-page-content-support-form-group col-xs-12 no-padding">
                    <small class="form-message"></small>
                    <textarea data-required="true" data-input name="content" placeholder="Enter content" class="form-control csgoadvance-page-content-support-form-input"></textarea>
                </div>
                <div class="csgoadvance-page-content-support-form-group col-xs-12 text-center">
                    <button type="submit" class="csgoadvance-page-content-support-form-submit text-uppercase">ok</button>
                </div>
            </form>
        </div>
        <footer class="csgoadvance-footer col-md-8 col-xs-12 col-md-offset-2">
            <p class="copyright text-uppercase text-center">© 2017 BY <a class="copyright-link" href="">CSGOADVANCE.COM.</a> ALL RIGHTS RESERVED.</p>
        </footer>
    </div>
</aside>
{% endblock %}
