{% extends "index.html.twig" %}

{% block page %}
    <aside class="csgoadvance-page csgoadvance-main-sidebar col-md-6 col-xs-12 col-md-offset-3 no-padding">
    <h4 class="csgoadvance-main-sidebar-title text-uppercase text-center no-margin">Terms of use</h4>
    <div class="csgoadvance-page-content slimscroll">
        <div class="csgoadvance-page-content-terms col-md-10 col-xs-12 col-md-offset-1">
            <article class="csgoadvance-page-content-terms-article col-sm-12">
                <h5 class="csgoadvance-page-content-terms-article-header">1. Donec pharetra est</h5>
                <p class="csgoadvance-page-content-terms-article-text">Nulla molestie consequat vulputate. Suspendisse finibus ultricies enim, in egestas eros mollis vitae. Sed iaculis pulvinar sem, non placerat metus scelerisque a. Praesent luctus viverra enim, nec aliquet sem bibendum a. Proin dapibus posuere purus. Ut ultrices facilisis tincidunt. Vivamus ac sollicitudin ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec tincidunt risus quis fermentum blandit. Nam a pharetra purus. Aliquam eleifend risus ipsum. Mauris interdum aliquet ullamcorper. Nam id tellus at risus interdum imperdiet. Maecenas iaculis mauris sit amet consequat sollicitudin. Praesent sapien ex, fringilla eget luctus quis.</p>
                <p class="csgoadvance-page-content-terms-article-text">Aenean pellentesque sollicitudin blandit. Vivamus faucibus nisi quis eros varius, non lobortis lorem tincidunt. Donec eget cursus velit, in hendrerit nunc. Curabitur ac felis eget enim molestie dignissim. Suspendisse quis dapibus nunc. Curabitur tempor vel velit sit amet cursus. Nam sapien lorem, pharetra vel enim et, tempus fermentum nibh.</p>
            </article>
            <article class="csgoadvance-page-content-terms-article col-sm-12">
                <h5 class="csgoadvance-page-content-terms-article-header">2. Vivamus faucibus</h5>
                <p class="csgoadvance-page-content-terms-article-text">Nulla molestie consequat vulputate. Suspendisse finibus ultricies enim, in egestas eros mollis vitae. Sed iaculis pulvinar sem, non placerat metus scelerisque a. Praesent luctus viverra enim, nec aliquet sem bibendum a. Proin dapibus posuere purus. Ut ultrices facilisis tincidunt. Vivamus ac sollicitudin ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec tincidunt risus quis fermentum blandit. Nam a pharetra purus. Aliquam eleifend risus ipsum. Mauris interdum aliquet ullamcorper. Nam id tellus at risus interdum imperdiet. Maecenas iaculis mauris sit amet consequat sollicitudin. Praesent sapien ex, fringilla eget luctus quis.</p>
                <p class="csgoadvance-page-content-terms-article-text">Aenean pellentesque sollicitudin blandit. Vivamus faucibus nisi quis eros varius, non lobortis lorem tincidunt. Donec eget cursus velit, in hendrerit nunc. Curabitur ac felis eget enim molestie dignissim. Suspendisse quis dapibus nunc. Curabitur tempor vel velit sit amet cursus. Nam sapien lorem, pharetra vel enim et, tempus fermentum nibh.</p>
            </article>
            <article class="csgoadvance-page-content-terms-article col-sm-12">
                <h5 class="csgoadvance-page-content-terms-article-header">3. Donec tincidunt risus</h5>
                <p class="csgoadvance-page-content-terms-article-text">Nulla molestie consequat vulputate. Suspendisse finibus ultricies enim, in egestas eros mollis vitae. Sed iaculis pulvinar sem, non placerat metus scelerisque a. Praesent luctus viverra enim, nec aliquet sem bibendum a. Proin dapibus posuere purus. Ut ultrices facilisis tincidunt. Vivamus ac sollicitudin ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec tincidunt risus quis fermentum blandit. Nam a pharetra purus. Aliquam eleifend risus ipsum. Mauris interdum aliquet ullamcorper. Nam id tellus at risus interdum imperdiet. Maecenas iaculis mauris sit amet consequat sollicitudin. Praesent sapien ex, fringilla eget luctus quis.</p>
                <p class="csgoadvance-page-content-terms-article-text">Aenean pellentesque sollicitudin blandit. Vivamus faucibus nisi quis eros varius, non lobortis lorem tincidunt. Donec eget cursus velit, in hendrerit nunc. Curabitur ac felis eget enim molestie dignissim. Suspendisse quis dapibus nunc. Curabitur tempor vel velit sit amet cursus. Nam sapien lorem, pharetra vel enim et, tempus fermentum nibh.</p>
            </article>
            <article class="csgoadvance-page-content-terms-article col-sm-12">
                <h5 class="csgoadvance-page-content-terms-article-header">4. Praesent luctus viverra</h5>
                <p class="csgoadvance-page-content-terms-article-text">Nulla molestie consequat vulputate. Suspendisse finibus ultricies enim, in egestas eros mollis vitae. Sed iaculis pulvinar sem, non placerat metus scelerisque a. Praesent luctus viverra enim, nec aliquet sem bibendum a. Proin dapibus posuere purus. Ut ultrices facilisis tincidunt. Vivamus ac sollicitudin ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec tincidunt risus quis fermentum blandit. Nam a pharetra purus. Aliquam eleifend risus ipsum. Mauris interdum aliquet ullamcorper. Nam id tellus at risus interdum imperdiet. Maecenas iaculis mauris sit amet consequat sollicitudin. Praesent sapien ex, fringilla eget luctus quis.</p>
                <p class="csgoadvance-page-content-terms-article-text">Aenean pellentesque sollicitudin blandit. Vivamus faucibus nisi quis eros varius, non lobortis lorem tincidunt. Donec eget cursus velit, in hendrerit nunc. Curabitur ac felis eget enim molestie dignissim. Suspendisse quis dapibus nunc. Curabitur tempor vel velit sit amet cursus. Nam sapien lorem, pharetra vel enim et, tempus fermentum nibh.</p>
            </article>
        </div>
        <footer class="csgoadvance-footer col-md-8 col-xs-12 col-md-offset-2">
            <p class="copyright text-uppercase text-center">© 2017 BY <a class="copyright-link" href="">CSGOADVANCE.COM.</a> ALL RIGHTS RESERVED.</p>
        </footer>
    </div>
</aside>
{% endblock %}
