{% extends "index.html.twig" %}

{% block page %}
    <aside class="csgoadvance-page csgoadvance-main-sidebar col-md-6 col-xs-12 col-md-offset-3 no-padding">
        <h4 class="csgoadvance-main-sidebar-title text-uppercase text-center no-margin">Withdraw items</h4>
        <div class="csgoadvance-page-content slimscroll">
            <div class="csgoadvance-page-content-deposit col-md-10 col-xs-12 col-md-offset-1">
                <div class="csgoadvance-page-content-inventory">
                    <div class="csgoadvance-page-content-inventory-sorting">
                        <h4 class="csgoadvance-page-content-inventory-sorting-header no-padding">Sorting</h4>
                        <form data-sort-form action="" class="col-sm-12 csgoadvance-page-content-inventory-sorting-form form-inline">
                            <div class="csgoadvance-page-content-inventory-sorting-form-search-name no-padding col-md-3 col-xs-12 mb-4 mr-sm-4 mb-sm-0">
                                <div class="csgoadvance-page-content-inventory-sorting-form-search-name-icon"><i class="fa fa-search" aria-hidden="true"></i></div>
                                <input data-search class="csgoadvance-page-content-inventory-sorting-form-input" type="text" name="name" placeholder="Search by name">
                            </div>
                            <div class="csgoadvance-page-content-inventory-sorting-form-sortby col-md-3 col-xs-12">
                                <select data-sort class="csgoadvance-page-content-inventory-sorting-form-select" name="sortby" tabindex="-1">
                                    <option value="name">Any name</option>
                                    <option value="price">Any price</option>
                                </select>
                            </div>
                            <div class="csgoadvance-page-content-inventory-sorting-form-order col-md-3 col-xs-12">
                                <select data-sort class="csgoadvance-page-content-inventory-sorting-form-select" name="order" tabindex="-1">
                                    <option value="asc">From low to high</option>
                                    <option value="desc">From high to low</option>
                                </select>
                            </div>
                            <div class="csgoadvance-page-content-inventory-sorting-form-reload col-md-3 col-xs-12">
                                <button data-reload-inventory type="button" class="csgoadvance-page-content-inventory-sorting-form-reload-button text-uppercase"><i class="csgoadvance-page-content-inventory-sorting-form-reload-button-icon fa fa-refresh" aria-hidden="true"></i>Refresh</button>
                            </div>
                        </form>
                    </div>
                    <h4 class="csgoadvance-page-content-inventory-header no-padding">Select items (<span data-inventory-selected-count>0</span>)</h4>
                    <h4 class="csgoadvance-page-content-inventory-header no-padding">Total price: $<span data-inventory-selected-price>0</span></h4>
                    <p class="csgoadvance-page-content-inventory-description">Choose which you want to pay</p>
                    <div data-inventory data-mode="withdraw" data-withdraw-inventory data-inventory-path="{{ path_for('withdraw-inventory') }}" class="inventory-content col-xs-12 no-padding">
                    </div>
                </div>
            </div>
            <footer class="csgoadvance-footer col-md-8 col-xs-12 col-md-offset-2">
                <p class="copyright text-uppercase text-center">© 2017 BY <a class="copyright-link" href="">CSGOADVANCE.COM.</a> ALL RIGHTS RESERVED.</p>
            </footer>
        </div>
    </aside>
{% endblock %}